<a href="https://colab.research.google.com/github/Huniiiii/Pandas-Intro/blob/main/Pandas_Intor_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_data.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [ ]:
df_data.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
df_data.shape

(169, 4)

In [ ]:
# select rows with Duration 75?
df_data["Duration"].loc[75]
df_data[(df_data["Duration"] == 75)]

     Duration  Pulse  Maxpulse  Calories
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
df_data[df_data.isna().any(axis=1)]

     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN

In [ ]:
df_data.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [ ]:
df_data.columns.to_list()

['Duration', 'Pulse', 'Maxpulse', 'Calories']

In [ ]:
## select all duplicated rows
df_data[df_data.duplicated()]

     Duration  Pulse  Maxpulse  Calories
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
40         45     90       112     180.1
71         60    109       153     387.6
113        45    100       120     225.3
155        60    111       151     368.5

In [ ]:
df_data[df_data.duplicated(keep = False)]

     Duration  Pulse  Maxpulse  Calories
5          60    102       127     300.0
16         60    100       120     300.0
31         45     90       112     180.1
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
40         45     90       112     180.1
46         60    109       153     387.6
71         60    109       153     387.6
84         45    100       120     225.3
113        45    100       120     225.3
124        60    111       151     368.5
155        60    111       151     368.5

In [ ]:
df_data[(df_data["Duration"] == 60) & (df_data["Pulse"] == 102) & (df_data["Maxpulse"] == 127)  & (df_data["Calories"])]

    Duration  Pulse  Maxpulse  Calories
5         60    102       127     300.0
36        60    102       127     300.0

In [ ]:
# deleting dupllicated rows
df_data.drop_duplicates() # copy then delect the duplicate

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[162 rows x 4 columns]

In [ ]:
 #deleting dupllicated rows and save it
df_data.drop_duplicates(inplace = True)
df_data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[162 rows x 4 columns]

In [ ]:
#change the index of names to a,b,c,d
df_data.rename(columns={'Duration': 'a', 'Pulse': 'b', 'Maxpulse' : 'c', 'Calories': 'd'})

      a    b    c      d
0    60  110  130  409.1
1    60  117  145  479.0
2    60  103  135  340.0
3    45  109  175  282.4
4    45  117  148  406.0
..   ..  ...  ...    ...
164  60  105  140  290.8
165  60  110  145  300.0
166  60  115  145  310.2
167  75  120  150  320.4
168  75  125  150  330.4

[162 rows x 4 columns]

### Quality Data

In [ ]:
#shape
df_quality.shape

NameError: ignored

In [ ]:
# check columns
df_quality.columns

NameError: ignored